<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html: charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <h1>Booking Confirmation</h1>
    <hr>
    <p>Dear <%= @passenger.name %>,</p>
    <br>
    <p>Thank you for your booking with Odin's Flight Booker!</p>
    <p>To view your booking please click <%= link_to 'Flight Info', @url %>.</p>
    <br>
    <p>Warmly,</p>
    <p>Odin's Flight Booker team.</p>
  </body>
</html>
